version: 2
updates:
  - package-ecosystem: "npm"
    directory: "./"
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm"
    directory: "/packages/basic-auth"
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm"
    directory: "/packages/cloudfront-security-headers"
    schedule:
      interval: "weekly"
  #- package-ecosystem: "npm"
  #  directory: "/packages/cloudwatch-rds-alert"
  #  schedule:
  #    interval: "weekly"
  - package-ecosystem: "npm"
    directory: "/packages/eventbridge-iam"
    schedule:
      interval: "weekly"
  #- package-ecosystem: "npm"
  #  directory: "/packages/geoip-redirect"
  #  schedule:
  #    interval: "weekly"
  - package-ecosystem: "npm"
    directory: "/packages/pipeline-stack"
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm"
    directory: "/packages/prerender-proxy"
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm"
    directory: "/packages/rabbitmq"
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm"
    directory: "/packages/serverless-deploy-iam"
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm"
    directory: "/packages/stack-deploy-iam"
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm"
    directory: "/packages/static-hosting"
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm"
    directory: "/packages/waf"
    schedule:
      interval: "weekly"
