name: Build

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.event.release.target_commitish }}
    - name: Use Node.js 20
      uses: actions/setup-node@v1
      with:
        node-version: 20
        registry-url: https://registry.npmjs.org/
    - run: npm ci
    - run: npm run lint:check && npm run format:check
    - run: npm run build
